body {
	background-color: lightblue;
}

.MainTitle {
	border-style: dashed;
	width: 50%;
	border-width: 2px;
	margin: auto;
	border-color: crimson;
	padding-top: 2px;
}

#player {
	padding-left: 230px;
	padding-bottom: 2px;
}

.Heading {
	text-align: center;
	text-decoration: underline;
	color: navy;	
}

.creator {
	font-size: 8px;
	text-align: center;
}

.Choices {
	position:absolute;
	width: 300px;
	height: 50px;
	left: 618px;
}

#multiple1 {
	top: 150px;
}

#multiple2 {
	top: 210px;
}

#multiple3 {
	top: 270px;
}

#multiple4 {
	top: 330px;
}

#ChangeQ {
	position: absolute;
	width: 150px;
	height: 30px;
	left: 695px;
	top: 360px;
}

#cmdStart {
	top: 100px;
}

.invisible {
	visibility: hidden;
}

.highlighted {
	background-color: lightblue
}