body {
	background-color: lightblue;
}

.Heading {
	text-align: center;
	text-decoration: underline;
	color: navy;
	border-style: dashed;
	width: 50%;
	border-width: 2px;
	margin: auto;
	border-color: crimson;
}

.creator {
	font-size: 8px;
	text-align: center;
}

.Choices {
	position:absolute;
	width: 300px;
	height: 50px;
	left: 618px;
}

#multiple1 {
	top: 100px;
}

#multiple2 {
	top: 160px;
}

#multiple3 {
	top: 220px;
}

#multiple4 {
	top: 280px;
}

#ChangeQ {
	position: absolute;
	width: 150px;
	height: 30px;
	left: 695px;
	top: 340px;
}

#cmdStart {
	top: 100px;
}

.visible {
	visibility: hidden;
}